In [71]:
import pandas as pd
import numpy as np
import warnings
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import seaborn as sns
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [11]:
predicciones = pd.read_csv('../csvs/nueva_pred_alg3_SR_Final.csv', index_col = 0)
predicciones

     compound_id  cell_id  active  prediccion
0            561      491      -1          -1
1            594     5673      -1          -1
2            853      377      -1          -1
3           1114      704      -1          -1
4           1114     5737      -1           0
..           ...      ...     ...         ...
579      2536958      588      -1          -1
580      2537014      786      -1          -1
581      2537014      491      -1          -1
582      2537014      646      -1          -1
583      2537014      555      -1          -1

[584 rows x 4 columns]

In [87]:
conj_to_predict = pd.read_csv('../csvs/compounds30_ni_29.csv', index_col = 0)
conj_to_predict = conj_to_predict.sort_values('compound_id')
conj_to_predict = conj_to_predict.assign(prediccion='')
conj_to_predict.reset_index(drop=True, inplace=True)
conj_to_predict

       compound_id  cell_id  active prediccion
0               97     5673      -1
1              115     5673      -1
2              146     5673      -1
3              147     5673      -1
4              148      325      -1
...            ...      ...     ...        ...
66309      2537375     5673      -1
66310      2537376      303      -1
66311      2537376      721      -1
66312      2537376      786      -1
66313      2537376      646      -1

[66314 rows x 4 columns]

In [78]:
predicciones[(predicciones['active'] == -1)]

     active  prediccion
0        -1          -1
1        -1          -1
2        -1          -1
3        -1          -1
4        -1           0
..      ...         ...
579      -1          -1
580      -1          -1
581      -1          -1
582      -1          -1
583      -1          -1

[521 rows x 2 columns]

In [91]:
predicciones[(predicciones['active'] == 1) & (predicciones['prediccion'] == -1)].size/2

12.0

In [29]:
lista_valores_reales = predicciones['active'].to_numpy()
lista_predicciones = predicciones['prediccion'].to_numpy()

In [41]:
matrix = confusion_matrix(lista_valores_reales, lista_predicciones)
matrix

array([[329,  42, 150],
       [  0,   0,   0],
       [ 12,   9,  42]], dtype=int64)

In [85]:
target_names = ['Prediccion -1', 'Prediccion 0', 'Prediccion 1']
print(classification_report(lista_valores_reales, lista_predicciones, target_names=target_names))

               precision    recall  f1-score   support

Prediccion -1       0.96      0.63      0.76       521
 Prediccion 0       0.00      0.00      0.00         0
 Prediccion 1       0.22      0.67      0.33        63

     accuracy                           0.64       584
    macro avg       0.39      0.43      0.36       584
 weighted avg       0.88      0.64      0.72       584