In [2]:
import math as mt 
from numpy import random
import pandas as pd
import numpy as np
from statistics import mode

In [3]:
lista_mapp = pd.read_csv('../csvs/listas_top10_mapping.csv')
summary = pd.read_csv('../csvs/activity_29.csv',index_col=0)
gt_predict=  pd.read_csv('../csvs/compounds30_ni_29.csv',index_col=0)

In [9]:
compounds_pred = gt_predict[gt_predict['cell_id'].isin(lista_mapp['cell_id'].tolist())]
compounds_pred

         compound_id  cell_id  active
229           209873      726      -1
230           209885      726      -1
1314          176450      620      -1
1315          176451      620      -1
1316          176180      620      -1
...              ...      ...     ...
5986812      2524417      646      -1
5987115      2537313      646      -1
5987119      2531656     1213      -1
5987120      2537326     1213      -1
5987121      2531656      630      -1

[12242 rows x 3 columns]

In [11]:
print(compounds_pred[compounds_pred['active'] == -1])
print(compounds_pred[compounds_pred['active'] == 1])

         compound_id   cell_id    active
229        17.143686  0.059304 -0.000082
230        17.144666  0.059304 -0.000082
1314       14.413495  0.050645 -0.000082
1315       14.413576  0.050645 -0.000082
1316       14.391439  0.050645 -0.000082
...              ...       ...       ...
5986812   206.209525  0.052769 -0.000082
5987115   207.262947  0.052769 -0.000082
5987119   206.800850  0.099085 -0.000082
5987120   207.264009  0.099085 -0.000082
5987121   206.800850  0.051462 -0.000082

[11980 rows x 3 columns]
         compound_id  cell_id  active
327104        370877      669       1
563871        513815      294       1
937621        351597      635       1
3821705      1353233      842       1
3821706      1353234      842       1
...              ...      ...     ...
5979423       492039      649       1
5979424      1173247      649       1
5983608      2535300      408       1
5984929       695878      726       1
5985011       695878      408       1

[262 rows x 3 columns]